/* experience.css */
.ovo__exp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
  }
  
  .ovo__exp-container_heading h1 {
    font-size: 70px;
    color: var;
  }
  .date {
    color: #161515;
    
    font-weight: bolder;
  }
  
  .experience-list {
    margin-top: 20px;
  }
  
  .experience-item {
    margin-bottom: 20px;
  }
  
  .item-content {
    display: grid;
    grid-template-columns: 30% 70%; /* Adjust column widths as needed */
    grid-gap: 20px;
  }
  .item-content img{
    border: solid 1px #dccace;
    border-radius: 10%;
  }
  .smaller span{
    font-size: 20px;
  }
  .item-content h2 {
    color: #dccace;
    font-size: 1.5rem;
  }
  .item-content .smaller{
    font-size: 0.8rem;
  }
  .item-content p {
    font-size: 1rem;
    line-height: 1.5;
    color:#373739;
    ;
  }
  @media screen and (max-width:650px) {
    .ovo__exp-container_heading h1 {
      font-size: 40px;
    }
    .item-content h2 {
      font-size: 1rem;
    }
    .item-content .smaller{
      font-size: 0.7rem;
    }
    .item-content p {
      font-size: 0.8rem;
      line-height: 1.5;
    }
  }
  @media screen and (max-width:490px) {
    .ovo__exp-container_heading h1 {
      font-size: 20px;
      margin-bottom: 1rem;
    }
    .item-content h2 {
      font-size: 0.7rem;
    }
    .item-content .smaller{
      font-size: 0.5rem;
    }
    .item-content p {
      font-size: 0.6rem;
      line-height: 1.5;
    }
    .ovo__exp-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0;
    }
    .section__padding{
      padding: 1.6rem;
    }
  }
  /* Add any additional styling as needed */
  

  