
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi:wght@400;500&family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@200&display=swap');

  :root{
    --gradient-text: ;
    --font-family: 'Noto Serif Vithkuqi', serif;
    --color--bg:#baabae;
  }